
<div class="row">
    <div class="container mx-auto">
        <div style="position: sticky;">
            <button *ngIf="!name" (click)="login()">Login With Facebook</button> <br>
            <button *ngIf="name" (click)="logOut()">Log Out</button> <br>
            <input type="text" [disabled]="!name" id="message" placeholder="Tape a new message here..." 
            #msg (keyup.enter)="chatSend(msg.value)" [(ngModel)]="msgVal">
        </div>
        <div class="chat-container" *ngFor="let item of lst | async">
            <a>{{ item.name }}</a>
            <p>{{ item.message }}</p>
        </div>
    </div>
</div>

